<div class="center-form p-5">
    <form class="card-auth">
    <picture class="d-flex justify-content-center align-items-center">
        <span class="card-auth-title">NATUR</span>
        <img src="assets/hojita.jpeg" alt="hoja" width="50" height="50" />
    </picture>
    <div class="card-body">
        <div class="mb-3 item-control">
            <input type="text" class="form-control" id="fullname" placeholder="Ingresar nombres y apellidos" />
        </div>
        <div class="mb-3 item-control">
            <input type="text" class="form-control" id="dni" placeholder="Ingresar dni" />
        </div>
        <div class="mb-3 item-control">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Ingresar correo" />
        </div>
        <div class="mb-3 item-control">
            <input type="password" class="form-control" id="password" placeholder="Ingresar contraseña" />
        </div>
    </div>
    <div class="mb-1 px-4">
        <button type="submit" class="btn btn-natur btn-outline-success w-100">Crear cuenta</button>
    </div>
    <div class="d-flex justify-content-center align-items-center mb-1">
        <span class="me-2">¿Estas registrado?</span>
        <a routerLink="/login" class="text-decoration-none text-black" href="" (click)="onCardClick()">Iniciar sesión</a>
    </div>
</form>
</div>