<div class="center-form p-5">
    <form class="card-auth">
    <picture class="d-flex justify-content-center align-items-center">
        <span class="card-auth-title">NATUR</span>
        <img src="assets/img/hojita.jpeg" alt="hoja" width="50" height="50" />
    </picture>
    <div class="card-body">
        <div class="mb-3 item-control">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Ingresa tu correo" />
        </div>
        <div class="mb-3 item-control">
            <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña" />
        </div>
        <div class="text-center">
            <a href="#" class="text-decoration-none text-black">¿Olvidaste tu contraseña?</a>
        </div>
    </div>
    <div class="mb-1 px-4">
        <button type="submit" class="btn btn-natur btn-outline-success w-100" routerLink="/alimentos-product" (click)="onCardClick()">Iniciar sesión</button>
    </div>
    <div class="d-flex justify-content-center align-items-center mb-1">
        <span class="me-2">¿No tienes una cuenta?</span>
        <a class="text-decoration-none text-black" routerLink="/register" href="" (click)="onCardClick()">Regístrate</a>

    </div>

</form>
</div>